@import url("https://use.typekit.net/ito7kjs.css");

:root {
  --color-negro: #000000;
  --color-blanco: #ffffff;
}

.contexto-info {
  margin: 4rem;
}

h2 {
  color: #000000;
  font-size: 1.1rem;
  line-height: 1.6rem;
}

p {
  padding: 1rem;
}

.contexto-galeria {
  margin: 2rem;
  display: flex;
  justify-content: space-around;
}

.contexto-galeria img {
  width: 25rem;
  height: 20rem;
}

.contexto-galeria p {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.imagen-con-overlay {
  position: relative;
  width: 25rem;
  height: 20rem;
  overflow: hidden;
}

.imagen-con-overlay img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease;
  display: block;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-blanco);
  font-size: 1rem;
  line-height: 1.6rem;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  text-align: center;
  color: #000000;
}

.imagen-con-overlay:hover img {
  opacity: 0.4;
}

.imagen-con-overlay:hover .overlay-text {
  opacity: 1;
}

@media (max-width: 1070px) {
  .imagen-con-overlay,
  .contexto-galeria img {
    width: 20rem;
    height: 15rem;
  }

  .contexto-galeria p {
    font-size: 1.7rem;
  }

  .overlay-text {
    font-size: 1rem;
  }
}

@media (max-width: 820px) {
  .imagen-con-overlay,
  .contexto-galeria img {
    width: 18rem;
    height: 13rem;
  }

  .contexto-galeria p {
    font-size: 1.5rem;
  }

  .overlay-text {
    font-size: 0.8rem;
  }
}

@media (max-width: 600px) {
  .contexto-info {
    margin: 2rem 1rem;
  }
  h2 {
    font-size: 0.8rem;
    line-height: 1.3rem;
  }
  .contexto-galeria {
    margin: 2rem 1rem;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .imagen-con-overlay,
  .contexto-galeria img {
    width: 16rem;
    height: 11rem;
  }

  .contexto-galeria p {
    font-size: 1rem;
  }

  .overlay-text {
    font-size: 0.9rem;
    line-height: 1.3rem;
  }
}
