@import url("https://use.typekit.net/ito7kjs.css");

:root {
  --color-negro: #000000;
  --color-blanco: #ffffff;
}

.contexto-info {
  margin-left: 4rem;
  margin-right: 4rem;
  margin-top: 8rem;
  margin-bottom: 4rem;
}

h2 {
  color: #000000;
  font-size: 1.1rem;
  line-height: 1.6rem;
  font-weight: 300;
}

p {
  padding: 1rem;
}

.contexto-galeria {
  margin: 2rem;
  display: flex;
  justify-content: space-around;
}

.contexto-item a {
  text-decoration: none;
  color: inherit;
}

.contexto-galeria img {
  width: 25rem;
  height: 20rem;
}

.contexto-galeria p {
  margin-top: 1rem;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
}

@media (max-width: 1070px) {
  .contexto-info {
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 10rem;
    margin-bottom: 4rem;
  }

  .contexto-galeria img {
    width: 20rem;
    height: 15rem;
  }

  .contexto-galeria p {
    font-size: 1.7rem;
  }
}

@media (max-width: 820px) {
  .contexto-galeria img {
    width: 18rem;
    height: 13rem;
  }

  .contexto-galeria p {
    font-size: 1.5rem;
  }
}

@media (max-width: 600px) {
  .contexto-info {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 10rem;
    margin-bottom: 1rem;
  }
  h2 {
    font-size: 0.8rem;
    line-height: 1.3rem;
  }
  .contexto-galeria {
    margin: 2rem 1rem;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .contexto-galeria img {
    width: 16rem;
    height: 11rem;
  }

  .contexto-galeria p {
    font-size: 1rem;
  }
}
