:root {
  --color-fondo: #ffffff;
  --color-texto: #000000;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--color-fondo);
  color: var(--color-texto);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.logo span {
  font-size: 38px;
  font-weight: 300;
}

.logo strong {
  font-size: 38px;
  font-weight: 700;
}

.nav {
  display: flex;
  gap: 40px;
}

.nav a {
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  color: var(--color-texto);
}

.main-content {
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.intro-obra {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.intro {
  width: 50%;
}
.obra {
  width: 50%;
}
.intro h1 {
  font-size: 63px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 1rem;
}

.intro p {
  font-size: 10pt;
  line-height: 1.6;
}

.intro cite {
  font-family: "Adobe Garamond Pro", serif;
  font-style: italic;
  font-size: 12px;
  display: block;
  margin-top: 20px;
}

.obra {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.obra img {
  width: 100%;
  max-width: 656px;
  height: auto;
}

.obra figcaption {
  font-family: "Adobe Garamond Pro", serif;
  font-style: italic;
  font-size: 12px;
}

.galeria {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.galeria-item {
  flex: 0 0 auto;
}
.galeria-item img:hover {
  scale: calc(1);
  cursor: pointer;
  transition: transform 0.3s ease;
}
.fila {
  display: flex;
  gap: 30px;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 10px;
  white-space: nowrap;
}
.fila-1 {
  overflow-x: auto;
  overflow-y: hidden;
  overscroll-behavior: contain; /* clave para que no “salte” al body */
}
.fila-2 {
  overflow-x: hidden;
  overflow-y: hidden;
  flex-direction: row-reverse;
} /* Ocultar barras si quieres */
.fila-1::-webkit-scrollbar,
.fila-2::-webkit-scrollbar {
  display: none;
}
.fila-1 {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
