body {
  margin: 0;
  background-color: white;
  font-family: "Helvetica Neue", sans-serif;
  overflow: hidden;
}

#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  z-index: 9999;
}

#title {
  font-size: 10rem;
  font-weight: bold;
  color: black;
  margin: 1rem;
}

#subtitle {
  font-size: 1.25rem;
  letter-spacing: 0.2rem;
  margin-top: 0.5rem;
  color: black;
}

@keyframes colorCycle {
  0% {
    color: black;
  }
  20% {
    color: rgb(205, 62, 134);
  }
  40% {
    color: rgb(247, 209, 38);
  }
  60% {
    color: rgb(20, 89, 207);
  }
  80% {
    color: rgb(255, 115, 0);
  }
  100% {
    color: black;
  }
}

@keyframes dissolve {
  0% {
    opacity: 1;
    filter: blur(0px);
    transform: translateY(0) scale(1);
  }
  100% {
    opacity: 0;
    filter: blur(20px);
    transform: translateY(-50px) scale(1.2);
  }
}

#title,
#subtitle {
  animation: colorCycle 2.5s steps(1) forwards,
    dissolve 2.5s ease-out 2.5s forwards;
}

@media (max-width: 820px) {
  #title {
    font-size: 7.5rem;
    margin: 0.6rem;
  }

  #subtitle {
    font-size: 0.9rem;
    letter-spacing: 0.15rem;
    margin-top: 0.35rem;
  }
}

@media (max-width: 580px) {
  #title {
    font-size: 4rem;
    margin: 0.3rem;
  }

  #subtitle {
    font-size: 0.5rem;
    letter-spacing: 0.1rem;
    margin-top: 0.2rem;
  }
}
