body {
  margin: 0;
  background-color: white;
  font-family: "Helvetica Neue", sans-serif;
  overflow: hidden;
}

#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  z-index: 9999;
}

#title {
  font-size: 10rem;
  font-weight: bold;
  color: black;
  margin: 1rem;
}

#subtitle {
  font-size: 1.25rem;
  letter-spacing: 0.2rem;
  margin-top: 10px;
  color: black;
}
