
body {
  height: 100vh;
  overflow-y: scroll;
  background: black;
  margin: 0;
  padding-bottom: 600px;
}



.circular-wrapper {
  position: fixed;
  width: 260px;
  height: 260px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.reveal-circle {
  position: absolute;
  width: 260px;
  height: 260px;
  border-radius: 50%;
  background: black;
  border: 4px solid white;
  top: 0;
  left: 0;
  z-index: 20;
  transition: transform 1s ease-in-out;
  pointer-events: none;
}


.reveal-circle.open {
  transform: translateX(-350px);
  opacity: 1;
}


.reveal-circle.hide {
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
}



.center-image {
  position: absolute;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: 3;
  transition: transform 0.6s ease, filter 0.6s ease;
  cursor: pointer;
}


.center-image.zoom-in {
  transform: translate(-50%, -50%) scale(20);
  filter: brightness(0.3) blur(3px);
}


.circular-text {
  position: absolute;
  width: 260px;
  height: 260px;
  top: 0;
  left: 0;
  border-radius: 50%;
  pointer-events: none;
  z-index: 1;
}


.circular-text span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform-origin: 0 0;
  font-size: 20px;
  font-weight: 900;
  color: #fff;
}

.scroll-indicator {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  font-weight: 700;
  color: white;
  letter-spacing: 4px;
  opacity: 0.7;
  z-index: 9999;
  pointer-events: none;
}