* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: sans-serif;
}

/* Escena adaptativa */
.scene {
  width: min(90vw, 900px);
  height: min(65vh, 480px);
  perspective: clamp(700px, 110vw, 1300px);

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Carrusel */
.carousel-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  margin-top: 0.3rem;
}

.carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-style: preserve-3d;
}

/* Tarjetas más pequeñas */
.carousel-item {
  position: absolute;
  top: 50%;
  left: 50%;

  width: clamp(140px, 20vw, 220px);
  height: clamp(200px, 30vw, 320px);

  overflow: hidden;
  box-shadow: 0 18px 32px rgba(0, 0, 0, 0.45);
}
.carousel-item :hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: transform 0.3s;
}
.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Título superior */
.titulo-salas {
  position: fixed;
  top: 4vh;
  left: 50%;
  padding-top: 3rem;
  margin-bottom: 3rem;
  transform: translateX(-50%);
  font-size: clamp(2rem, 4vw, 3rem);
  font-weight: 700;
  letter-spacing: 4px;
  color: #111;
  z-index: 1001;
}

/* Texto encima de cada imagen */
.carousel-item h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: clamp(1.2rem, 2vw, 1.5rem);
  font-weight: 700;
  text-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
  pointer-events: none; /* para que el click pase a la tarjeta */
  z-index: 10;
}

@media (max-width: 820px) {
  .titulo-salas {
    padding-top: 6rem;
  }
}
